@page "/Product/{Id:int}"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

@if (FoodProduct is null)
{
    <LoadingSpinner />
}
else
{
    @*<h4 class="mb-5 text-center">Product Details</h4>*@
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mb-4">
            <img class="img-thumbnail" src="@FoodProduct.ProductImageUrl" alt="FoodProduct Image" />
        </div>
        <div class="col-md-4">
            <h4 class="mb-4">@FoodProduct.ProductName</h4>
            <p class="mb-4">@FoodProduct.ProductDescription</p>
            <p>Choose your preferred way to buy this item.</p>
            <select class="form-select mb-5" @bind="selectedUnit">
                @foreach (var productUnit in FoodProduct.ProductUnits)
                {
                    <option value="@productUnit.Unit">
                        @productUnit.Unit
                    </option>
                }

            </select>
            <p><b>₦@FoodProduct.ProductUnits.Where(e => e.Unit == selectedUnit).Select(e => e.Price).FirstOrDefault() / @selectedUnit</b></p>
            <button class="btn btn-success" @onclick="() => AddToCart_Click(FoodProduct)">
                <i class="fa-solid fa-plus"></i>
                Add To Cart
            </button>
        </div>
    </div>
}

